.navbar .dropdown-menu {
  display: none;
}
.navbar .dropdown.show .dropdown-menu {
  display: block;
}




:root {
  --navbar-bg-color: var(--bs-primary);
  --navbar-text-color: var(--bs-light);
}

.navbar {
  background-color: var(--navbar-bg-color);
}

.navbar .nav-link {
  color: var(--navbar-text-color);
}

.navbar .nav-link:hover {
  color: var(--bs-dark);
}

.navbar .dropdown-menu {
  background-color: var(--navbar-bg-color);
  color: var(--navbar-text-color);
}

.navbar .dropdown-item {
  color: var(--navbar-text-color);
}

.navbar .dropdown-item:hover {
  color: var(--bs-dark);
  background-color: var(--bs-light);
}
