.navbar .dropdown-menu {
  display: none;
}
.navbar .dropdown.show .dropdown-menu {
  display: block;
}

/* Navigation styles */
.navigation {
  display: flex;
  align-items: center; /* 縦方向を中央に揃える */
  justify-content: flex-end; /* 横方向を右寄せ */
}

:root {
/*  --navbar-bg-color: var(--bs-primary); */
/*  --navbar-text-color: var(--bs-light); */
  --navbar-bg-color: var(bg-body-tertiary);
  --navbar-text-color: var(text-primary);
}

.navbar {
  background-color: var(--navbar-bg-color);
  display: flex; 
  align-items: center; /* 縦方向を中央に揃える */
  justify-content: space-between; /* スペースを均等に配置 */
}

.navbar .nav-link {
  color: var(--navbar-text-color);
  background-color: var(--navbar-bg-color); /* 初期背景色を指定 */
}

/* ホバー時、フォーカス時、アクティブ時のスタイルを固定 */
.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .nav-link:active,
.navbar .nav-link.active {
  color: var(--navbar-text-color) !important;
  background-color: var(--navbar-bg-color) !important;
}

.navbar .dropdown-menu {
  background-color: var(--navbar-bg-color);
  color: var(--navbar-text-color);
}

.navbar .dropdown-item {
  background-color: var(--navbar-bg-color);
  color: var(--navbar-text-color);
}

.navbar .dropdown-item:hover {
/*  color: var(--bs-dark); */
/*  background-color: var(--bs-light); */
  background-color: var(--navbar-text-color);
  color: var(--navbar-text-color);
}

/* メインナビゲーションのスタイル */
.main-nav { 
  display: flex; 
  align-items: center; /* 縦方向を中央に揃える */
  justify-content: flex-end; /* メインメニューを右寄せにする */
  flex: 1; /* スペースを均等に割り当てる */ 
}

/* アディショナルナビゲーションのスタイル */ 
.additional-nav { 
  display: flex; 
  align-items: center; /* 縦方向を中央に揃える */
}
