/* ナビゲーションスタイル */
.navigation {
  display: flex;
  align-items: center; /* 縦方向を中央に揃える */
  justify-content: flex-end; /* 横方向を右寄せ */
}

/* ナビゲーションバーのスタイル */
.navbar {
  display: flex; 
  align-items: center; /* 縦方向を中央に揃える */
  justify-content: space-between; /* スペースを均等に配置 */
}

/* ドロップダウンメニューの初期表示を非表示にする */
.navbar .dropdown-menu {
  display: none;
}

/* ドロップダウンが表示状態のときにメニューを表示する */
.navbar .dropdown.show .dropdown-menu {
  display: block;
}


/* メインナビゲーションのスタイル */
.main-nav {
  display: flex;
  align-items: center; /* 縦方向を中央に揃える */
  justify-content: flex-end; /* メインメニューを右寄せにする */
  flex: 1; /* スペースを均等に割り当てる */
}

/* アディショナルナビゲーションのスタイル */
.additional-nav {
  display: flex;
  align-items: center; /* 縦方向を中央に揃える */
}
