img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  margin-bottom: 30px; /* ここで余白を指定する */
} 

.footer-top ,
.footer-middle ,
.footer-bottom {
  background-color: black;
  color: blanchedalmond;
}

/* heading 色々*/
h1, .h1 {
  font-size: calc(1.3rem + 1.5vw);
} 

@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.2rem;
  }
} 

h2, .h2 {
  font-size: calc(1.285rem + 0.42vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 1.6rem;
  }
}

h3, .h3 {
  font-size: calc(1.265rem + 0.18vw);
}

@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.4rem;
  }
}

h4, .h4 {
  font-size: calc(1.265rem + 0.18vw);
}

@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.3rem;
  }
}

h5, .h5 {
  font-size: 1.2rem;
}

h6, .form-wrapper.accordion .accordion-item h2, .form-wrapper.accordion .accordion-item .h2, .h6 {
  font-size: 1.1rem;
}