body {
    background-color: rgba(0, 0, 0, 0); /* 黒色、100%の透明度 */
}

/* Region "メインナビゲーション" の背景色を指定します。 */
/* Region "ヘッダー" は Bootswatch のテーマで指定します。*/
header {
    background-color: rgba(0, 0, 0, 0); /* 黒色、100%の透明度 */
}

main {
    background-color: rgba(0, 0, 0, 0); /* 黒色、100%の透明度 */
}

.footer-top {
    background-color: black;
    color: blanchedalmond;
}

.footer-middle {
    background-color: black;
    color: blanchedalmond;
}

.footer-bottom {
    background-color: black;
    color: blanchedalmond;
}


