<form class="d-flex gap-2" action="/search/node" method="get">
  <div>
    <label for="edit-keys" class="visually-hidden">Search</label>
    <input class="form-control my-2" type="search" placeholder="Search" data-drupal-selector="edit-keys" id="edit-keys" name="keys" aria-label="Search">
  </div>
  <div>
    <button class="btn btn-primary my-2 js-form-submit form-submit" type="submit" data-drupal-selector="edit-submit" id="edit-submit">Search</button>
  </div>
</form>
